<mat-tab-group mat-align-tabs="end" [selectedIndex]="1">


  <mat-tab label="EXAMPLE">

    <div>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="12px" fxLayoutAlign="baseline center"
        class="irisa-table-section" [dir]="dir">
        <div class="irisa-table-title">
          <h1>
            Table Title
          </h1>
        </div>
        <div fxFlex.xs="0 1 100%" fxFlex.sm="0 1 calc(50% - 12px)" fxFlex.md="0 1 calc(50% - 12px)"
          fxFlex.gt-md="0 1 calc(50% - 12px)">
          <button mat-flat-button color="success" class="button-md">افزودن</button>
        </div>

        <div fxFlex.xs="0 1 100%" fxFlex.sm="0 1 calc(30% - 12px)" fxFlex.md="0 1 calc(30% - 12px)"
          fxFlex.gt-md="0 1 calc(30% - 12px)">
          <mat-form-field appearance="outline" style="width: 100%;" class="remove-padding-bottom">
            <mat-label>جستجو</mat-label>

            <input matInput placeholder="جستجو" [formControl]="testCtrl">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex.xs="0 1 100%" fxFlex.sm="0 1 calc(20% - 12px)" fxFlex.md="0 1 calc(20% - 12px)"
          fxFlex.gt-md="0 1 calc(20% - 12px)">
          <button mat-flat-button color="prime-text" class="button-md">جستجو پیشرفته</button>
        </div>
        <div class="irisa-table-container mat-elevation-z8">

          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="castHeatList"
            *ngIf="castHeatList" class="irisa-table irisa-row-hover">

            <ng-container *ngFor="let column of columns" [matColumnDef]="column.field" [sticky]="isSticky(column.field)"
              [stickyEnd]="isStickyEnd(column.field)">

              <ng-container [ngSwitch]="column.field">
                <ng-container *ngSwitchCase="'operation-btn'">
                  <th mat-header-cell *matHeaderCellDef>
                    <div [style]="column.styles">{{ column.header }}</div>

                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="operation-btn" [style]="column.styles">
                      <button mat-flat-button [color]="'prime'" class="button-sm button-margin">
                        {{
                        element.name !=='ACTR' ? 'Already sent' : 'Send To WareHouse'
                        }}
                      </button>
                      <button mat-flat-button color="success" class="button-sm button-margin">مشاهده
                      </button>
                      <mat-icon color="prime-outline" class="button-margin icon-action">text_snippet</mat-icon>

                      <mat-icon color="warning-outline" class="button-margin icon-action">edit</mat-icon>
                      <mat-icon color="danger-outline" class="button-margin icon-action">delete</mat-icon>

                    </div>
                  </td>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <!------------------------------------------------------------
                    you can create button with icon instead  mat-sort-header and
                    set click event on it
                  -------------------------------------------------------------->
                    <div class="header-cell-div" [style]="column.styles"> {{ column.header }}</div>

                    <!------------------------------------------------------------
                    you can add another field in TableColumn interface (seachable:boolean)
                    and show search input based that field value
                    <mat-form-field appearance="outline" *ngIf="column.searchable">
                  -------------------------------------------------------------->
                    <mat-form-field appearance="outline">
                      <mat-label>جستجو در ستون</mat-label>

                      <input matInput placeholder="جستجو در ستون" [formControl]="testCtrl">
                      <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>


                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="cell-div" [style]="column.styles">
                      {{column.cell(element)}}
                    </div>
                  </td>
                </ng-container>

              </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" class="mat-header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
        <p-paginator (onPageChange)="primePaginate($event)" [rows]="5" [totalRecords]="castHeatList.length"
          [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
          [currentPageReportTemplate]="currentPageReportTemplate" [showPageLinks]="showPageLinks$|async">
        </p-paginator>
      </div>

    </div>




  </mat-tab>

</mat-tab-group>
