// .mat-header-cell, .mat-footer-cell {
//   min-width: 80px;
//   box-sizing: border-box;
// }
$header-border: #c1c7d0;

%irisa-table-container {
  max-height: 25rem;
  // max-width: 138vh;
  overflow-x: auto;
  margin-top: 1rem;
}

.irisa-table-container {
  @extend %irisa-table-container;
}

.irisa-table-section {
  // max-width: 138vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.irisa-table-title {
  width: 100%;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
}

%irisa-table {
  th.mat-header-cell {
    // min-width: 207px;
    // min-height: 25px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #172b4d;
    border-top: 1px solid $header-border;
    //

    [dir="rtl"] & {
      text-align: right;
      border-left: 1px solid $header-border;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
    [dir="ltr"] & {
      text-align: left;
      border-right: 1px solid $header-border;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
  }

  tr.mat-header-row {
    // width: 1200px;
    min-height: 80px;
    margin: 16px 0 46px;
    padding: 0.75rem 24px 8px 129px;
    border: solid 1px $header-border;
    background-color: #dfe1e6;
    // background-color: #f4f5f7;
  }

  th.mat-header-cell:first-of-type {
    [dir="rtl"] & {
      border-right: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
    [dir="ltr"] & {
      border-left: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
  }
  th.mat-header-cell:last-of-type {
    [dir="ltr"] & {
      border-left: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
    [dir="rtl"] & {
      border-right: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
  }

  tr.mat-row:focus mat-cell {
    border-right: solid 4px #2684ff;
  }

  &.irisa-row-hover {
    tr.mat-row {
      // background-color: #ffffff;

      // &:nth-child(even) td {
      //   background: #fafbfc;
      // }

      [dir="rtl"] & {
        &:hover td {
          border-top: solid 1px #2684ff;
          border-bottom: solid 1px #2684ff;
          box-sizing: border-box;

          // background-color: #f2f7ff;
          &:first-of-type {
            border-right: solid 4px #2684ff;
            // padding-right: calc(0.5rem - 4px) !important;
          }
          &:last-of-type {
            border-left: solid 1px #2684ff;
          }
        }
      }
      [dir="ltr"] & {
        &:hover td {
          border-top: solid 1px #2684ff;
          border-bottom: solid 1px #2684ff;
          // background-color: #f2f7ff;
          box-sizing: border-box;

          &:first-of-type {
            border-left: solid 4px #2684ff;
            // padding-left: calc(0.5rem - 4px) !important;
          }
          &:last-of-type {
            border-right: solid 1px #2684ff;
          }
        }
      }
    }

    td.mat-cell {
      &:last-of-type:not(:only-of-type) {
        [dir="rtl"] & {
          &:hover {
            border-top: solid 1px #2684ff;
            border-bottom: solid 1px #2684ff;
            border-left: solid 1px #2684ff;
          }
        }
        [dir="ltr"] & {
          &:hover {
            border-top: solid 1px #2684ff;
            border-bottom: solid 1px #2684ff;
            border-right: solid 1px #2684ff;
          }
        }
      }
    }
  }
  tr.mat-row {
    padding: 0.75rem 24px 0.688rem 32px;
    border: solid 1px #dfe1e6;
    background-color: #ffffff;

    // &:nth-child(even) td {
    //   background: #fafbfc;
    // }

    // [dir="rtl"] & {
    //   &:hover td {
    //     border-top: solid 1px #2684ff;
    //     border-bottom: solid 1px #2684ff;
    //     background-color: #f2f7ff;

    //     &:first-of-type {
    //       border-right: solid 4px #2684ff;
    //     }
    //     &:last-of-type {
    //       border-left: solid 1px #2684ff;
    //     }
    //   }
    // }
    // [dir="ltr"] & {
    //   &:hover td {
    //     border-top: solid 1px #2684ff;
    //     border-bottom: solid 1px #2684ff;
    //     background-color: #f2f7ff;

    //     &:first-of-type {
    //       border-left: solid 4px #2684ff;
    //     }
    //     &:last-of-type {
    //       border-right: solid 1px #2684ff;
    //     }
    //   }
    // }
  }

  td.mat-cell {
    // min-width: 68px;

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.563rem;
    letter-spacing: normal;
    text-align: center;
    color: #172b4d;
    // >.cell-div{
    // min-height: 25px;
    // padding: 32px 0.75rem 32px 0.75rem;
    // > button mat-icon {
    //   padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    // }
    // [dir='rtl'] & {
    //   margin: 0.75rem 4.75rem 0.688rem 4.75rem;
    // }
    // [dir='ltr'] & {
    //   margin: 0.75rem 4.75rem 0.688rem 4.75rem;
    // }
    // }
    [dir="rtl"] & {
      margin: 0.75rem 4.75rem 0.688rem 4.75rem;
      border-left: 1px solid #dfe1e6;
    }
    [dir="ltr"] & {
      margin: 0.75rem 4.75rem 0.688rem 4.75rem;
      border-right: 1px solid #dfe1e6;
    }

    &:first-of-type:not(:only-of-type) {
      [dir="rtl"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-right: 1px solid #dfe1e6;
      }
      [dir="ltr"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-left: 1px solid #dfe1e6;
      }
    }

    &:last-of-type:not(:only-of-type) {
      [dir="rtl"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-left: 1px solid #dfe1e6;
        padding-left: 0 !important;
        // &:hover {
        //   border-top: solid 1px #2684ff;
        //   border-bottom: solid 1px #2684ff;
        //   border-left: solid 1px #2684ff;
        // }
      }
      [dir="ltr"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-right: 1px solid #dfe1e6;
        padding-right: 0 !important;

        // &:hover {
        //   border-top: solid 1px #2684ff;
        //   border-bottom: solid 1px #2684ff;
        //   border-right: solid 1px #2684ff;
        // }
      }
    }
  }

  .mat-table-sticky {
    [dir="rtl"] & {
      border-right: 1px solid #dfe1e6;
    }
    [dir="ltr"] & {
      border-left: 1px solid #dfe1e6;
    }
  }

  .mat-sort-header-content {
    justify-content: space-between !important;
    flex-flow: wrap !important;
  }

  // .mat-table-sticky-border-elem-top {
  //   border-bottom: 1px solid #dfe1e6;;
  // }

  // .mat-table-sticky-border-elem-right {
  //   border-left: 1px solid #dfe1e6;;
  // }

  // .mat-table-sticky-border-elem-bottom {
  //   border-top: 1px solid #dfe1e6;;
  // }

  // .mat-table-sticky-border-elem-left {
  //   border-right: 1px solid #dfe1e6;;
  // }
}

.irisa-table {
  @extend %irisa-table;
}
