// .mat-header-cell, .mat-footer-cell {
//   min-width: 80px;
//   box-sizing: border-box;
// }
$header-border: #c1c7d0;
@mixin xs-irisa-table-container {
  height: 50vh;
  overflow: auto;
  width: 100%;
}
@mixin xs-irisa-table {
  overflow: hidden;
  thead {
    display: none;
  }
  .mat-cell:last-child {
    border-bottom: 0;
    [dir="rtl"] & {
      padding-right: 0;
    }
    [dir="ltr"] & {
      padding-left: 0 !important;
    }
  }
  .mat-cell:first-child {
    margin-top: 1rem;
    width: 100%;
    [dir="rtl"] & {
      padding-right: 0 !important;
    }
    [dir="ltr"] & {
      padding-left: 0;
    }
  }

  // caption {
  //   font-size: 1em;
  // }

  .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-row {
    border-bottom: 5px solid $header-border;
    display: block;
    padding: 1rem;
    height: auto;
  }

  .mat-cell {
    border-bottom: 1px solid $header-border;
    // display: block;
    display: flex;
    justify-content: space-between;
    [dir="rtl"] & {
      padding-right: 0 !important;
    }
    [dir="ltr"] & {
      padding-left: 0;
    }
    font-size: 0.875rem;
    font-stretch: normal;
    text-align: center;
    font-weight: bold;
    // height: 30px;
    // margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;

    div {
      width: 100%;
    }
  }

  .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    [dir="rtl"] & {
      float: right;
    }
    [dir="ltr"] & {
      float: left;
    }
    // text-transform: uppercase;
    font-weight: normal;

    // font-size: .85em;
  }
}

@mixin irisa-table-container {
  max-height: 25rem;
  // max-width: 138vh;
  overflow-x: auto;
  margin-top: 1rem;
}

.irisa-table-section {
  // max-width: 138vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.irisa-table-title {
  width: 100%;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
}

@mixin irisa-table {
  width: 100%;
  th.mat-header-cell {
    // min-width: 207px;
    // min-height: 25px;
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #172b4d;
    border-top: 1px solid $header-border;
    //

    [dir="rtl"] & {
      text-align: right;
      border-left: 1px solid $header-border;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
    [dir="ltr"] & {
      text-align: left;
      border-right: 1px solid $header-border;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
  }

  tr.mat-header-row {
    // width: 1200px;
    min-height: 5rem;
    margin: 0.5rem 0 2.875rem;
    padding: 0.75rem 1.5rem 0.5rem 8.063rem;
    border: solid 1px $header-border;
    background-color: #dfe1e6;
    // background-color: #f4f5f7;
  }

  th.mat-header-cell:first-of-type {
    [dir="rtl"] & {
      border-right: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
    [dir="ltr"] & {
      border-left: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
  }
  th.mat-header-cell:last-of-type {
    [dir="ltr"] & {
      border-left: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
    [dir="rtl"] & {
      border-right: 1px solid $header-border !important;
      padding: 0.75rem 0.813rem 0.688rem !important;
    }
  }

  tr.mat-row:focus mat-cell {
    border-right: solid 4px #2684ff;
  }

  &.irisa-row-hover {
    tr.mat-row {
      // background-color: #ffffff;

      // &:nth-child(even) td {
      //   background: #fafbfc;
      // }

      [dir="rtl"] & {
        &:hover td {
          border-top: solid 1px #2684ff;
          border-bottom: solid 1px #2684ff;
          box-sizing: border-box;

          // background-color: #f2f7ff;
          &:first-of-type {
            border-right: solid 4px #2684ff;
            // padding-right: calc(0.5rem - 4px) !important;
          }
          &:last-of-type {
            border-left: solid 1px #2684ff;
          }
        }
      }
      [dir="ltr"] & {
        &:hover td {
          border-top: solid 1px #2684ff;
          border-bottom: solid 1px #2684ff;
          // background-color: #f2f7ff;
          box-sizing: border-box;

          &:first-of-type {
            border-left: solid 4px #2684ff;
            // padding-left: calc(0.5rem - 4px) !important;
          }
          &:last-of-type {
            border-right: solid 1px #2684ff;
          }
        }
      }
    }

    td.mat-cell {
      &:last-of-type:not(:only-of-type) {
        [dir="rtl"] & {
          &:hover {
            border-top: solid 1px #2684ff;
            border-bottom: solid 1px #2684ff;
            border-left: solid 1px #2684ff;
          }
        }
        [dir="ltr"] & {
          &:hover {
            border-top: solid 1px #2684ff;
            border-bottom: solid 1px #2684ff;
            border-right: solid 1px #2684ff;
          }
        }
      }
    }
  }

  tr.mat-row {
    padding: 0.75rem 1.5rem 0.688rem 2rem;
    border: solid 1px #dfe1e6;
    background-color: #ffffff;
  }

  td.mat-cell {
    // min-width: 68px;

    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.563rem;
    letter-spacing: normal;
    text-align: center;
    color: #172b4d;

    [dir="rtl"] & {
      margin: 0.75rem 4.75rem 0.688rem 4.75rem;
      border-left: 1px solid #dfe1e6;
    }
    [dir="ltr"] & {
      margin: 0.75rem 4.75rem 0.688rem 4.75rem;
      border-right: 1px solid #dfe1e6;
    }

    &:first-of-type:not(:only-of-type) {
      [dir="rtl"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-right: 1px solid #dfe1e6;
      }
      [dir="ltr"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-left: 1px solid #dfe1e6;
      }
    }

    &:last-of-type:not(:only-of-type) {
      [dir="rtl"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-left: 1px solid #dfe1e6;
        padding-left: 0 !important;
      }
      [dir="ltr"] & {
        margin: 0.75rem 4.75rem 0.688rem 4.75rem;
        border-right: 1px solid #dfe1e6;
        padding-right: 0 !important;
      }
    }
  }

  .mat-table-sticky {
    [dir="rtl"] & {
      border-right: 1px solid #dfe1e6;
    }
    [dir="ltr"] & {
      border-left: 1px solid #dfe1e6;
    }
  }

  .mat-sort-header-content {
    justify-content: space-between !important;
    flex-flow: wrap !important;
  }
}

//xl
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .irisa-table-container {
    @include irisa-table-container;
  }
  .irisa-table {
    @include irisa-table;
  }
}

//lg
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .irisa-table-container {
    @include irisa-table-container;
  }
  .irisa-table {
    @include irisa-table;
  }
}

//md
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .irisa-table-container {
    @include irisa-table-container;
  }
  .irisa-table {
    @include irisa-table;
  }
}

//sm
@media screen and (min-width: 600px) and (max-width: 959px) {
  .irisa-table-container {
    @include irisa-table-container;
  }
  .irisa-table {
    @include irisa-table;
  }
}

//xs
@media screen and (max-width: 599px) {
  .irisa-table-container {
    @include xs-irisa-table-container;
  }
  .irisa-table {
    @include xs-irisa-table;
  }
}
